@model IEnumerable<Bank.Models.Transaction>

@{
    ViewData["Title"] = "Account details";
}

<ul class="nav navbar-nav navbar-right">
    <li>
        <a asp-controller="Home" asp-action="Logout">Sign Out</a>
    </li>
</ul>

<h2>Account Details</h2>

<div class="form-group">
    <a asp-controller="Home" asp-action="Deposit" class="btn btn-info">Deposit</a>
    <a asp-controller="Home" asp-action="Withdraw" class="btn btn-info">Withdraw</a>
    <a asp-controller="Home" asp-action="Transfer" class="btn btn-info">Transfer</a>
</div>


<table class="table">
    <tr>
        <td>LoginName:</td>
        <td>@ViewData["LoginName"]</td>
    </tr>

    <tr>
        <td>AccountNumber:</td>
        <td>@ViewData["AccountNumber"]</td>
    </tr>

    <tr>
        <td>Balance:</td>
        <td>@ViewData["Balance"]</td>
    </tr>

</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (ViewData["Message"] != null)
        {
            <tr>
                <td>
                    <p class="alert alert-danger">@ViewData["Message"]</p>
                </td>
            </tr>
        }
        else
        {

            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Source)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destination)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>